<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title
      ><h2>{{ wine.title }}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ wine.description }}
    <div class="map-container">
      <google-map
        *ngIf="wine.location"
        height="100%"
        width="100%"
        [zoom]="ZOOM"
        [center]="wine.location"
      >
        <map-marker [position]="wine.location!"></map-marker>
      </google-map>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <span class="mat-caption">Rate this wine</span>
    <star-rating
      size="large"
      [hoverEnabled]="true"
      [starType]="'svg'"
    ></star-rating>
  </mat-card-actions>
</mat-card>
