<h1>Create new wine list</h1>
<form [formGroup]="eventForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput formControlName="address" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
</form>

<form [formGroup]="wineForm">
  <ng-container formArrayName="wine">
    <div
      *ngFor="let w of wineFormArray.controls; index as i"
      class="wine-entry"
      [formGroupName]="i"
    >
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput id="loc{{ i }}" formControlName="location" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </ng-container>
</form>

<button mat-button color="primary" (click)="addWine()">
  Add wine<mat-icon>add</mat-icon>
</button>

<button
  mat-flat-button
  class="submit-btn"
  color="primary"
  [disabled]="savingEvent"
  (click)="onSave()"
>
  <div *ngIf="savingEvent" class="spinner">
    <mat-spinner [diameter]="20"></mat-spinner>
    Saving...
  </div>
  <ng-container *ngIf="!savingEvent">Save</ng-container>
</button>
