:host {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

form {
    display: flex;
    flex-direction: column;
}

.spinner {
  display: flex;
  gap: 16px
}

.submit-btn {
    margin-top: 8px;
    width: 200px;
}

.wine-entry {
    border-radius: 8px;
    border: 1px solid rgb(218,220,224);
    flex-direction: column;
    display: flex;
    margin: 8px 0;
    padding: 20px 16px 0 16px;
}